canvas {
  display: block;
  width: 640px;
  height: 480px;
  margin: 0 auto;
  border: 1px black solid;
}

div[id^="player_"] {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50px ;
}

div[id^="npc_"]{}
div[id^="monster_"]{}
div[id^="boss_"]{}
