#container {
  position: relative;
  margin: 0 auto;
  border: 1px black solid;
  z-index: -9999;
}

canvas {
  position: absolute;
  display: block;
}

#container, 
canvas {
  height: 200px;
  width: 800px;
}

canvas[id^="gameboard"] {
  z-index: -10;
}

canvas[id^="player"] {
}

div[id^="npc_"]{}
div[id^="monster_"]{}
div[id^="boss_"]{}
